h1 {
    color:aliceblue;
    background-color: #e6d1f2;
}

p {
    color: blue;
    font-family: cursive;
}

body {
    background-color: #1C1C1C;
}

h2 {
    color: #c1d5f0;
}

h3 {
    color: whitesmoke;
}
